.benefits{
    background-color: #111;
    padding: 10rem 4rem;
    color: #fff;
    position: relative;
    overflow: hidden;

    .bg1{
        position: absolute;
        left: -10%;
        bottom: 10%;

        .bg-container{
            width: 55rem;
                  
            > div {
              position: unset !important;
            }
          
            .bg-image {
              object-fit: contain;
              width: 100% !important;
              position: relative !important;
              height: unset !important;
            }
        }
    }
    .bg2{
        position: absolute;
        left: 20%;
        top: 20%;
         
       
        .bg-container{
            width: 30rem;
                  
            > div {
              position: unset !important;
            }
          
            .bg-image {
              object-fit: contain;
              width: 100% !important;
              position: relative !important;
              height: unset !important;
            }
        }
    }
    .bg3{
        position: absolute;
        right: -10%;
        top: 0%;
         
       
        .bg-container{
            width: 55rem;
                  
            > div {
              position: unset !important;
            }
          
            .bg-image {
              object-fit: contain;
              width: 100% !important;
              position: relative !important;
              height: unset !important;
            }
        }
    }

    .bg1{
        position: absolute;
        left: -10%;
        bottom: 0%;
        

        img{
            width: 55.4rem;
            height: 55.4rem;
            object-fit: contain;
        }
    }
    .bg2{
        position: absolute;
        left: 20%;
       top: 20%;
        

        img{
            width: 35.4rem;
            height: 35.4rem;
            object-fit: contain;
        }
    }
    .bg3{
        position: absolute;
        right: -10%;
        top: 0%;

        img{
            width: 55.4rem;
            height: 55.4rem;
            object-fit: contain;
        }
    }

    .container{

        height: 100%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2.4rem );
        -webkit-backdrop-filter: blur( 2.4rem );
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


        .left, .right{
            flex:1;
            height: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;

            h3{
                font-size: 2.8rem;
                font-weight: 600;
                line-height: 3.4rem;
                letter-spacing: 0em;
                text-align: left;
                color: #4900A4;

            }

            p{
                font-size: 2.2rem;
                line-height: 3.0rem;
                letter-spacing: 0em;
                text-align: left;

            }
        }
    }

}



 


@media only screen and (max-width: 768px) { 
   .benefits{

    .container{
        flex-direction: column;
    }
   }
}
