.btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 200;
  background-color: transparent;
  border: solid 1px #ffffff;
  border-radius: 3rem;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.2s linear;
  z-index: 100 !important;

  &:hover {
    background: linear-gradient(
      90deg,
      rgb(151, 82, 242) 0%,
      rgb(233, 90, 166) 100%
    );
    border: solid 1px transparent;
  }
}
