.footer {
  color: #fff;
  position: relative;
  padding: 3rem 0.5rem;
  position: relative;
  background-color: rgba(27, 27, 27, 0.027);
  overflow: hidden;
  display: flex;
  justify-content: center;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.2;
    width: 100%;
    z-index: 2;
  }
  .footerbackground {
    position: absolute;
    bottom: -40%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.7;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 0rem;
    z-index: 10;
    width: 100%;

    .heading {
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 1rem;
    }
    .subHeading {
      width: 40%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 200;
      padding-bottom: 1.5rem;
    }
    .subText {
      width: 35%;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      text-align: center;
      padding-bottom: 3rem;
    }
    .buttonContainer {
      display: flex;
      justify-content: space-evenly;
      // width: 60%;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 4rem;
      gap: 2rem;
      .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 200;
        background-color: transparent;
        border: solid 1px #ffffff;
        border-radius: 3rem;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.2s linear;
        z-index: 100 !important;
        position: relative;
        &::before {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: white;
          z-index: 2;
          position: absolute;
          content: "";
          border-radius: 3rem;
          background: transparent;
          transition: all 0.2s ease-in;
        }
        &:hover::before {
          bottom: -8px;
          right: -8px;
          top: -8px;
          left: -8px;
          border: solid 1px white;
          box-sizing: border-box;
        }
        &:hover {
          border: solid 1px transparent;
          background: linear-gradient(
            90deg,
            rgb(151, 82, 242) 0%,
            rgb(233, 90, 166) 100%
          );
        }
      }
    }

    .line {
      width: 90%;
      height: 0.5px;
      background-color: white;
      border: none;
      margin-top: 5rem;
    }
    .popularSearch {
      font-size: 2rem;
      width: 80%;
      font-weight: 300;
      text-align: center;
      padding-top: 2rem;
      & > :first-child {
        color: gray;
        font-size: 2rem;
        font-weight: 500;
      }
      span {
        cursor: default;
        a {
          transition: all 0.5s ease;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    .content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 2rem;
      z-index: 10;
      margin-top: 5rem;
      .contentLinkContainer {
        margin: 1rem;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li {
          font-size: 2rem;
          line-height: 3.3rem;
          letter-spacing: 0em;
          text-align: center;
          font-weight: 300;
          transition: all 0.2s linear;
          &:hover {
            color: rgb(163, 163, 163);
          }
        }
      }
      .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        font-size: 2.5rem;
        line-height: 3.3rem;
        letter-spacing: 0em;
        text-align: center;
        li {
          width: 10%;
          height: 10%;
          transition: all 0.5s ease;
          &:hover {
            opacity: 0.5;
          }
        }
      }

      .copyright {
        width: 100%;
        font-size: 1.5rem;
        line-height: 3.3rem;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        font-weight: 200;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  .footer {
    .container {
      .content {
        .contentLinkContainer {
          width: 80%;
        }
        .socials {
          li {
            width: 10%;
            height: 10%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .footer {
    .container {
      .subHeading {
        width: 60%;
        font-size: 2rem;
      }
      .subText {
        width: 60%;
      }
    }
  }
}
@media screen and (max-width: 590px) {
  .footer {
    .container {
      .buttonContainer {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .footer {
    .container {
      .buttonContainer {
        width: 60%;
        .btn {
          font-size: 2rem;
        }
      }
    }
  }
}
