.navbarContainer {
  position: relative;
  .navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    gap: 1rem;
    height: 10rem;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0 10rem;
    border-bottom: 1px solid #ffffff;

    .logoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    .logoText {
      font-size: 2rem;
      font-weight: 400;
    }

    .linksContainer {
      display: flex;
      align-items: center;
      gap: 4rem;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 4rem;

      li {
        list-style: none;
      }

      .link {
        font-size: 1.5rem;
        font-weight: 300;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .btn {
      padding: 1rem 2rem;
      font-size: 1.5rem;
      background-color: transparent;
      border: solid 1px #ffffff;
      border-radius: 3rem;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      transition: all 0.2s linear;
      position: relative;
      &::before {
        top: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3rem;
        z-index: -1;
        transform-origin: center;
        transition: transform 0.3s ease;
        transform: scaleY(0);
        background: linear-gradient(
          90deg,
          rgb(151, 82, 242) 0%,
          rgb(233, 90, 166) 100%
        );
        border: solid 1px transparent;
      }
      &:hover::before {
        transform: scaleY(1);
      }
    }

    .mobileMenuBtn {
      z-index: 99;
      flex-direction: column;
      gap: 0.8rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: none;
      transition: all 0.2s linear;
      height: 3.5rem;

      .line {
        width: 3.5rem;
        height: 0.3rem;
        background: #fff;
        transition: 0.5s;
      }
    }

    .animate {
      .firstLine {
        transform: translateY(8px) rotate(45deg);
      }

      .middleLine {
        display: none;
      }

      .lastLine {
        transform: rotate(-45deg);
      }
    }
  }

  .mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(76, 18, 147, 0.104) 22.32%,
      rgba(27, 27, 27, 0.104) 92.92%
    );
    box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.4rem);
    -webkit-backdrop-filter: blur(2.4rem);
    border-radius: 0 0 2rem 2rem;
    padding: 3rem;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    .buttonContainer {
      padding: 2rem 4rem;
    }

    .links {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
      flex-direction: column;
      width: 100%;
      padding: 0rem;
      .link {
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        margin: 0.5rem 4rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px white;
        text-align: left;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .navbarContainer {
    .navbar {
      margin: 0 3rem;
    }
  }
}
@media screen and (max-width: 980px) {
  .navbarContainer {
    .navbar {
      padding: 1rem;
      .links {
        .link {
          display: none;
        }
      }

      .btn {
        display: none !important;
      }

      .mobileMenuBtn {
        display: flex;
      }
    }

    .mobile {
      display: flex;
    }
  }
}
