.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 6rem 4rem;
  color: #ffffff;
  gap: 2rem;
  position: relative;
  height: auto;
  min-height: 70vh;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.2;
    width: 100%;
    z-index: 2;
  }
  .heading {
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
  }
  .subHeading {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
  }
  .cardContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #101010;
  color: #ffffff;
  gap: 0.5rem;
  padding: 3rem 1.5rem;
  border-radius: 2rem;
  width: 23%;
  height: fit-content;
  min-width: 200px;
  z-index: 10;
  transition: all 2s ease;
  &:hover {
    .text {
      height: auto;
      visibility: visible;
    }
  }
  .icon {
    width: 12%;
    // height: 12%;
  }
  .title {
    font-size: 2rem;
    font-weight: 500;
    border-bottom: #ffffff 1px solid;
    padding-bottom: 1rem;
  }
  .text {
    font-size: 1.5rem;
    font-weight: 500;
    height: 0;
    visibility: hidden;
    transition: height 0.5s ease;
  }
}

@media screen and (max-width: 1170px) {

  .container {
    min-height: 90vh;
    height: auto;
  }
  .card {
    width: 40%;
  }
  
}

@media screen and (max-width: 770px) {
  .container{
    .cardContainer{
      gap: 2rem;
    }
  }
  .card {
    .text {
      font-size: 1.5rem;
      visibility: visible;
      height: auto;
    }
  }
}

@media screen and (max-width: 550px) {
  .card {
    width: 60%;
    .title{
      font-size: 2.5rem;
    }
    .text{
      font-size: 2rem;
    }
  }

}
