.usageContainer {
  min-height: 100vh;
  padding: 6rem 4rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
  position: relative;
  background-color: rgba(27, 27, 27, 0.027);
  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.2;
    width: 100%;
    z-index: 2;
  }
  .usage1,
  .usage2 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .usage1{
    top: 0;
    left: -30%;
  }
  .usage2{
    bottom: -30%;
    right:-30%;
  }
  .heading {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
  }
  .experienceCard {
    display: flex;
    background-color: #101010;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 2rem;
    width: 70%;
    z-index: 10;
    // min-width: 430px !important;
    .heading {
      width: 50%;
      font-size: 2rem;
      font-weight: 400;
      text-align: left;
    }
    .text {
      width: 50%;
      font-size: 1.3rem;
    }
  }
  .subHeading {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
     z-index: 10;
  }
  .UsageCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 80%;
    z-index: 10;
  }
}

.usageCard {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
  width: 80%;
  // min-width: 430px !important;
  margin: 3rem auto;
}
.usageIcon {
  width: 10%;
  height: 20%;
}
.usageHeading {
  font-size: 2rem;
  font-weight: 500;
}
.usagetext {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  //   margin: 0 1rem;
}

@media screen and (max-width: 1200px) {
  .usageContainer {
    .UsageCardContainer {
      grid-template-columns: 1fr;
    }
  }
  .usageCard {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .usageContainer {
    .heading,
    .experienceCard {
      width: 90%;
    }
  }
}
@media screen and (max-width: 550px) {
  .usageCard {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .usageContainer {
    .experienceCard {
      flex-direction: column;
      .heading,
      .text {
        width: 95%;
        text-align: center;
      }
      .heading {
        font-size: 2rem;
        font-weight: 600;
      }
      .text {
        font-size: 1.8rem;
      }
    }
  }
  .usageCard {
    .usageHeading {
      font-size: 2.2rem;
      font-weight: 500;
    }
    .usagetext {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
